<ion-header>
  <ion-toolbar>
    <ion-title>cadastro-entrega-chave</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Data e hora de Entrega de chave:</ion-label>
    <ion-datetime [(ngModel)]="entregaChave.dataHoraEntrega" pickerFormat="DD MM YYYY HH:mm" ></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Data e hora de devoluçao de chave:</ion-label>
    <ion-datetime [(ngModel)]="entregaChave.dataHoraDevolucao" pickerFormat="DD MM YYYY HH:mm" disabled></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Professor</ion-label>
    <ion-select [(ngModel)]="entregaChave.professor">
      <ion-select-option *ngFor="let professor of professores" [value]="professor.id">
        {{professor.nomeCompleto}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <br>
  <ion-button (click)="cadastrar()" fill="solid" expand="block" color="success">Gravar</ion-button>
  <br>
  <ion-button (click)="cancelar()" fill="solid" expand="block" color="danger">Cancelar</ion-button>
</ion-content>
