<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Materiais</ion-title>
    <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="novo()">
    <ion-fab-button color="success" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid *ngIf="materiais != ''">
      <ion-row>
        <ion-col><h6>Lista de Materiais</h6></ion-col>
        <ion-col><h6>Quantidade</h6></ion-col>
        <ion-col><h6>Marca</h6></ion-col>
        <ion-col><h6>Descrição/h6></ion-col>
      </ion-row>
      <ion-row *ngFor="let material of materiais">
        <ion-col>{{materiais.nome}}</ion-col>
        <ion-col>{{materiais.quantidade}}</ion-col>
        <ion-col>{{materiais.marca}}</ion-col>
        <ion-col>{{materiais.descricao}}</ion-col>
      </ion-row>
    </ion-grid>
   </ion-content>