<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro Equipamento</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="tipoEquipamento">
    <ion-item>
      <ion-label position="fixed">Nome:</ion-label>
      <ion-input [(ngModel)]="tipoEquipamento.nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Data Aquisição:</ion-label>
      <ion-input [(ngModel)]="tipoEquipamento.dataAquisicao" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Marca:</ion-label>
      <ion-input [(ngModel)]="tipoEquipamento.marca" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Modelo:</ion-label>
      <ion-input [(ngModel)]="tipoEquipamento.modelo" ></ion-input>
    </ion-item>
    <ion-button (click)="gravar()" color="success">Gravar</ion-button>
    <ion-button (click)="cancelar()" color="danger">Cancelar</ion-button>
  </ion-list>
  <ion-button (click)="listar()" color="danger">Listar</ion-button>

</ion-content>
