<ion-header>
  <ion-toolbar>
    <ion-title>Entregar Material</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="material">
    <ion-item>
      <ion-label position="floating">Nome:</ion-label>
      <ion-input [(ngModel)]="material.nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Quantidade:</ion-label>
      <ion-input [(ngModel)]="material.quantidade" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Marca:</ion-label>
      <ion-input [(ngModel)]="material.marca" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descricao:</ion-label>
      <ion-input [(ngModel)]="material.descricao" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Data:</ion-label>
      <ion-input [(ngModel)]="material.data" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Professor:</ion-label>
      <ion-select position="floating" placeholder="Select One">
        <ion-select-option value="xavier">Xavier Silva</ion-select-option>
        <ion-select-option value="inherits">Inherits</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button (click)="gravar()" color="success">Entregar</ion-button>
  </ion-list>
  <ion-button (click)="listar()" color="danger">Listar</ion-button>

</ion-content>
