<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Reserva Equipamentos</ion-title>
    <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="novo()">
    <ion-fab-button color="success" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-list inset *ngFor = "let lista of reservaEquipamento">
    <ion-item>
      <ion-label>
        Equipamento:{{lista.tipo_equipamento}}
      </ion-label>
      <ion-label>
      Nome do professor: {{lista.nome_professor}}
      </ion-label>
      <ion-label> 
      Status: {{lista.status}}
      </ion-label>
      <ion-label>
      Data de entrega:{{lista.dataentrega}}
      </ion-label>
      <ion-label>
      Data de devolução:{{lista.datadevolucao}} 
      </ion-label>
      <ion-label>
      Observação:{{lista.observacao}}
      </ion-label>
      <div *ngIf='lista.id_usuario!=null'>
        <ion-label>Nome do usuário:{{lista.nome_usuario}}</ion-label>
      </div>
    </ion-item>
    </ion-list>
</ion-content>