<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro Vistoria</ion-title>
    <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="vistoria">
    <ion-item >
      <ion-label position="floating">Sala</ion-label>
      <ion-select [(ngModel)]="vistoria.sala">
        <ion-select-option *ngFor="let sala of salas" [value]="sala.id" >
          {{sala.numerosala}} {{sala.nomesala}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Equipamento</ion-label>
      <ion-select [(ngModel)]="vistoria.equipamento">
        <ion-select-option *ngFor="let equipamento of equipamentos" [value]="equipamento.id">
          {{equipamento.nome}} {{equipamento.marca}} {{equipamento.modelo}} {{equipamento.id}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Em conformidade:</ion-label>
      <ion-checkbox [(ngModel)]="vistoria.emconformidade"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Data:</ion-label>
      <ion-input type = 'date'[(ngModel)]="vistoria.data" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descrição:</ion-label>
      <ion-input type = 'text'[(ngModel)]="vistoria.descricao" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Período:</ion-label>
      <ion-input type = 'text'[(ngModel)]="vistoria.periodo" ></ion-input>
    </ion-item>
    <ion-button (click)="cadastrar(vistoria)" color="danger">Cadastrar</ion-button>
    <ion-button (click)="cancelar()" color="danger">Cancelar</ion-button>
  </ion-list>
  <ion-button (click)="listar()" color="danger">Listar</ion-button>
</ion-content>
