<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro Entrega de Chaves</ion-title>
    <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<!-- <ion-content *ngIf="entregaChave">
  <ion-item>
    <ion-label position="floating">Reserva Sala</ion-label>
    <ion-select [(ngModel)]="entregaChave.reserva">
      <ion-select-option *ngFor="let reservaSala of reservasSala" [value]="reservaSala.id">
        {{reservaSala.numerosala}} {{reservaSala.nomesala}} {{reservaSala.nome_professor}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Chave</ion-label>
    <ion-select [(ngModel)]="entregaChave.chave">
      <ion-select-option *ngFor="let chave of chaves" [value]="chave.id">
        {{chave.id}} {{chave.numerosala}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Data e hora de Entrega de chave:</ion-label>
    <ion-datetime [(ngModel)]="entregaChave.dataHoraEntrega" pickerFormat="DD MM YYYY HH:mm" ></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Data e hora de devoluçao de chave:</ion-label>
    <ion-datetime [(ngModel)]="entregaChave.dataHoraDevolucao" pickerFormat="DD MM YYYY HH:mm" disabled></ion-datetime>
  </ion-item>
  <br>
  <ion-button (click)="cadastrar()" fill="solid" expand="block" color="success">Gravar</ion-button>
  <br>
  <ion-button (click)="cancelar()" fill="solid" expand="block" color="danger">Cancelar</ion-button>
</ion-content>
!-->
