<ion-header>
  <ion-toolbar>
    <ion-title>Lista de pergunta</ion-title>
  </ion-toolbar>
</ion-header>

<!-- gravar uma nova pergunta -->
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="novo()">
    <ion-fab-button color="success" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- lista das perguntas -->
  <ion-list>
    <ng-container *ngIf="perguntas">

          <ion-label>
            <h3>Pergunta: {{perguntas.pergunta}}</h3>
            <h3>Resposta: {{perguntas.resposta}}</h3>
          </ion-label>
        </ng-container>
  </ion-list>

      </ion-content>
