<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro Equipamento</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="equipamento">
    <ion-item>
      <ion-label position="floating">Tipo Equipamento:</ion-label>
      <ion-input type="text" [(ngModel)]="equipamento.tipoEquipamento"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Data Aquisição:</ion-label>
      <ion-input type="date" [(ngModel)]="equipamento.dataAquisicao" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Marca:</ion-label>
      <ion-input type="text" [(ngModel)]="equipamento.marca" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Status:</ion-label>
      <ion-input type="text" [(ngModel)]="equipamento.status" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Modelo:</ion-label>
      <ion-input type="text" [(ngModel)]="equipamento.modelo" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Localização:</ion-label>
      <ion-input type="text" [(ngModel)]="equipamento.localizacao" ></ion-input>
    </ion-item>
    <ion-button (click)="cadastrar()" color="danger">Cadastrar</ion-button>
    <ion-button (click)="cancelar()" color="danger">Cancelar</ion-button>
  </ion-list>
  <ion-button (click)="listar()" color="danger">Listar</ion-button>

</ion-content>
