<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Apoio Uniarp</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-list>
  <ion-button>Item comum 1</ion-button>
  <ion-button>Item comum 2</ion-button>
  <ion-button>Item comum 3</ion-button>
  <ion-button>Item comum 4</ion-button>
  <ion-button>Item comum 5</ion-button>
</ion-list>
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="lista-reservas-sala">
        <ion-label>Reservas de Sala</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="lista-reservas-equipamento">
        <ion-label>Reservas de Equipamento</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="dashboard">
        <ion-label>Dashboard</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>