<ion-header>
  <ion-toolbar>
    <ion-title>Solicitar Equipamento</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="reservaEquipamento">
    <ion-item >
      <ion-label position="floating">Equipamento</ion-label>
      <ion-select [(ngModel)]="reservaEquipamento.equipamento">
        <ion-select-option *ngFor="let equipamento of equipamentos" [value]="equipamento.id">
          {{equipamento.nome}} {{equipamento.marca}} {{equipamento.modelo}} 
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Professor</ion-label>
      <ion-select [(ngModel)]="reservaEquipamento.professor">
        <ion-select-option *ngFor="let professor of professores" [value]="professor.id">
          {{professor.login}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Observaçao:</ion-label>
      <ion-input [(ngModel)]="reservaEquipamento.observacao" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Período:</ion-label>
      <ion-select [(ngModel)]="reservaEquipamento.periodo">
        <ion-select-option value="matutino">Matutino</ion-select-option>
        <ion-select-option value="vespertino">Vespertino</ion-select-option>
        <ion-select-option value="noturno">Noturno</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Data de Entrega de equipamento:</ion-label>
      <ion-datetime [(ngModel)]="reservaEquipamento.dataEntrega" pickerFormat="DD MM YYYY"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Data de Devoluçao prevista do equipamento:</ion-label>
      <ion-datetime [(ngModel)]="reservaEquipamento.dataDevolucao" pickerFormat="DD MM YYYY"></ion-datetime>
    </ion-item>
    
    <br>
    <ion-button (click)="cadastrar()" fill="solid" expand="block" color="success">Gravar</ion-button><br>
    <ion-button (click)="cancelar()" fill="solid" expand="block" color="danger">Cancelar</ion-button>
  </ion-list>
</ion-content>
