<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Vistoria</ion-title>
    <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="novo()">
    <ion-fab-button color="success" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div *ngIf = vistoria>

    <ion-list *ngFor = "let lista of vistoria">
    <ion-item>
      <ion-label>
        {{lista.emConformidade}}
      </ion-label>
      <ion-label>
        {{lista.data}}
      </ion-label> 
      <ion-label>
        {{lista.descricao}}
      </ion-label> 
      <ion-label>
        {{lista.periodo}}
      </ion-label> 
    </ion-item>
  </ion-list>
</div>

</ion-content>
