<ion-header>
  <ion-toolbar>
    <ion-title>Lista de entregas de chave</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="novo()">
      <ion-fab-button color="success" >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-list *ngFor="let entregaChave of entregasChave">
        <ion-item>
            <ion-label>
              <h2> {{entregaChave.id}} </h2>
            </ion-label>
            <ion-label>
              <h2>{{entregaChave.nomecompleto}}</h2>
            </ion-label>   
            <ion-label>
              <h2>{{entregaChave.numerosala}}</h2>
            </ion-label>
            <ion-label>
              <h2>{{entregaChave.id_chave}}</h2>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
