<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Materiais</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="material">
    <ion-item>
      <ion-label position="fixed">Nome:</ion-label>
      <ion-input type="text" [(ngModel)]="material.nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Quantidade:</ion-label>
      <ion-input type='numeric' [(ngModel)]="material.quantidade" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Marca:</ion-label>
      <ion-input tyoe ='text' [(ngModel)]="material.marca" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Descricao:</ion-label>
      <ion-input type='text' [(ngModel)]="material.descricao" ></ion-input>
    </ion-item>
    <ion-button (click)="gravar()" color="danger">Gravar</ion-button>
    <ion-button (click)="cancelar()" color="danger">Cancelar</ion-button>
  </ion-list>
  <ion-button (click)="listar()" color="danger">Listar</ion-button>

</ion-content>