<ion-header>
  <ion-toolbar>
    <ion-title>Lista Disciplinas</ion-title>
    <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-searchbar placeholder="Pesquisa ..." [(ngModel)]="pesquisa" animated="true"></ion-searchbar>
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="novo()">
    <ion-fab-button color="success" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid *ngIf=" disciplinas != ''">
    <ion-row>
      <ion-col><h6>Nome</h6></ion-col>
      <ion-col><h6>Período</h6></ion-col>
      <ion-col><h6>Dia da Semana</h6></ion-col>
      <ion-col><h6>Curso</h6></ion-col>
    </ion-row>
    <ion-row *ngFor="let disciplina of disciplinas">
      <ion-col>{{disciplina.nome}}</ion-col>
      <ion-col>{{disciplina.periodo}}</ion-col> 
      <ion-col>{{verDiasSemana(disciplina.diasemana)}}</ion-col>
      <ion-col>{{disciplina.nome_curso}}</ion-col>  
    </ion-row>
  </ion-grid>
</ion-content>