<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Perguntas | FAQ </ion-title>
    <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<!-- gravar uma nova pergunta -->
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="novo()">
    <ion-fab-button color="success" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- lista das perguntas -->
  <ion-list>
    <ion-item-sliding *ngFor="let pergunta of perguntas">
      <ion-item>
        <ion-label>
          <h2>{{pergunta.pergunta}}</h2>
          <p>{{pergunta.resposta}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="excluir(pergunta)">Excluir</ion-item-option>
      </ion-item-options>
      <ion-item-options side="start" >
        <ion-item-option (click)="editar(pergunta)">Alterar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
