<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Incidentes</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar placeholder="Pesquisa ..." [(ngModel)]="pesquisa" animated="true"></ion-searchbar>
</ion-header>


<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="novo()">
    <ion-fab-button color="success" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid *ngIf="incidentes != ''">
    <ion-row>
      <ion-col><h6>Sala</h6></ion-col>
      <ion-col><h6>Professor</h6></ion-col>
      <ion-col><h6>Descrição</h6></ion-col>
      <ion-col><h6>Tempo de Abertura</h6></ion-col>
      <ion-col><h6>Status</h6></ion-col>
      <ion-col><h6>Resolução</h6></ion-col>
      <ion-col><h6>Tempo de Fechamento</h6></ion-col>
    </ion-row>
    <ion-row *ngFor="let incidente of incidentes">
      <ion-col>{{incidente.numerosala}}</ion-col>
      <ion-col>{{incidente.nomecompleto}}</ion-col>
      <ion-col>{{incidente.descricao}}</ion-col>
      <ion-col>{{incidente.tempoabertura}}</ion-col>
      <ion-col>{{incidente.status}}</ion-col>
      <ion-col>{{incidente.tempofechamento}}</ion-col>
      <ion-col>{{incidente.resolucao}}</ion-col>
    </ion-row>
  </ion-grid>
 </ion-content>
