<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Reservas Salas</ion-title>
    <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="novo()">
    <ion-fab-button color="danger" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> 
  <ion-list *ngFor = "let reservaSala of reservasSala">
    <ion-item-sliding>
      <ion-item-options side = "start">        
        <ion-item-option color="danger" (click)="alterar(reserva)">Alterar</ion-item-option>
      </ion-item-options>
      <ion-item>
      <ion-label>
        {{reservaSala.data}}
      </ion-label>
      <ion-label>
        {{reservaSala.qtdalunos}}
      </ion-label> 
      <ion-label>
        {{reservaSala.status}}
      </ion-label> 
      <ion-label>
        {{reservaSala.periodo}}
      </ion-label>
      <ion-button (click)="cadastrarEntregaChave()" fill="solid" expand="block" color="success">
        Entregar chave
      </ion-button>
    </ion-item>
    <ion-item-options side = "end">
      <ion-item-option color="danger" (click)="presentAlertMultipleButtons(cancelar)">Cancelar</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  </ion-list>
</ion-content>
