<ion-header>
  <ion-toolbar>
    <ion-title>Materiais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="novo()">
    <ion-fab-button color="success" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list *ngFor = "let lista of material">
    <ion-item>
      <ion-label>
        {{lista.nome}}
      </ion-label>
      <ion-label>
        {{lista.quantidade}}
      </ion-label> 
      <ion-label>
        {{lista.marca}}
      </ion-label>
      <ion-label>
        {{lista.descricao}}
      </ion-label>  
    </ion-item>
  </ion-list>
</ion-content>