<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Entrega Materiais</ion-title>
    <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="novo()">
    <ion-fab-button color="success" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid *ngIf="entregasMaterial != ''">
    <ion-row>
      <ion-col><h6>Professor</h6></ion-col>
      <ion-col><h6>Material</h6></ion-col>
      <ion-col><h6>Quantidade</h6></ion-col>
      <ion-col><h6>Data</h6></ion-col>
    </ion-row>
    <ion-row *ngFor="let entregaMaterial of entregasMaterial">
      <ion-col>{{entregaMaterial.nome_professor}}</ion-col>
      <ion-col>{{entregaMaterial.nome_material}}</ion-col>
      <ion-col>{{entregaMaterial.qtd}}</ion-col>
      <ion-col>{{entregaMaterial.data}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
