<ion-header>
  <ion-toolbar>
    <ion-title>Solicitar equipamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="solicitacao">
    <ion-item>
      <ion-label>Professor</ion-label>
    <ion-select [(ngModel)]="solicitacao.professor">
      <ion-select-option *ngFor="let professor of professores" [value]="professor.id">{{professor.nomeCompleto}}</ion-select-option>
       
    </ion-select>
    </ion-item>

    <ion-item >
      <ion-label position="floating">Tipo de equipamento</ion-label>
      <ion-select  [(ngModel)]="solicitacao.tipoEquipamento">
        <ion-select-option *ngFor="let tipoEquipamento of tiposEquipamento" 
          [value]="tipoEquipamento.id">{{tipoEquipamento.nome}} {{tipoEquipamento.marca}} {{tipoEquipamento.modelo}} 
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Período</ion-label>
      <ion-select [(ngModel)]="solicitacao.periodo">
        <ion-select-option value="matutino">Matutino</ion-select-option>
        <ion-select-option value="vespertino">Vespertino</ion-select-option>
        <ion-select-option value="noturno">Noturno</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Data de uso</ion-label>
      <ion-datetime [(ngModel)]="solicitacao.dataUso" pickerFormat="DD MM YYYY"></ion-datetime>
    </ion-item>
    <br>
    <ion-button (click)="gravar(solicitacao)" fill="solid" expand="block" color="success">Gravar</ion-button><br>
    <ion-button (click)="cancelar()" fill="solid" expand="block" color="danger">Cancelar</ion-button>
  </ion-list>
</ion-content>
