<ion-header>
  <ion-toolbar>
    <ion-title>Solicitar equipamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="reservaEquipamento">
    <ion-item >
      <ion-label position="floating">Tipo de equipamento</ion-label>
      <ion-select  [(ngModel)]="solicitacao.reservaEquipamento">
        <ion-select-option *ngFor="let reservaEquipamento of reversasEquipamento" 
          [value]="reservaEquipamento.id">{{reservaEquipamento.nome}} {{reservaEquipamento.marca}} {{reservaEquipamento.modelo}} 
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Período</ion-label>
      <ion-select [(ngModel)]="solicitacao.periodo">
        <ion-select-option value="matutino">Matutino</ion-select-option>
        <ion-select-option value="vespertino">Vespertino</ion-select-option>
        <ion-select-option value="noturno">Noturno</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Data de Entrega de equipamento</ion-label>
      <ion-datetime [(ngModel)]="solicitacao.dataEntrega" pickerFormat="DD MM YYYY"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Data de Devolucao prevista do equipamento</ion-label>
      <ion-datetime [(ngModel)]="solicitacao.data" pickerFormat="DD MM YYYY"></ion-datetime>
    </ion-item>
    <br>
    <ion-button (click)="cadastrar(solicitacao)" fill="solid" expand="block" color="success">Gravar</ion-button><br>
    <ion-button (click)="cancelar()" fill="solid" expand="block" color="danger">Cancelar</ion-button>
  </ion-list>
</ion-content>
