<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Tipo Equipamento</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="tipoEquipamento">
    <ion-item>
      <ion-label position="floating">Nome:</ion-label>
      <ion-input type = 'text'[(ngModel)]="tipoEquipamento.nome"></ion-input>
    </ion-item>
    <ion-button (click)="cancelar()" color="secondary-contrast">Início</ion-button>
    <ion-button (click)="listar()" color="secondary-contrast">Listar</ion-button>
    <ion-button (click)="cadastrar()" color="primary">Cadastrar</ion-button>
  </ion-list>
  
</ion-content>